<%- include('header') %>

<div class="archive">
	<div class="ui grid">
		<div class="four wide column"></div>
		<div class="eight wide column">
			<% for(var i in month){ %>				
				<h2>2017年<%= month[i] %>月的文章</h2>
				<ul>
					<% (posts[month[i]].articles).forEach(function(post){ %>
						<li>
							<span>2017.<%= month[i] %>.<%= post.created_date %></span>
							<a href="/posts/personal/<%= post._id %>"><%= post.title %></a>
						</li>
					<% }); %>
				</ul>
			<% } %>
		</div>
	</div>
</div>

<%- include('footer') %>
<%- include('script.ejs') %>